.component-4 {
    justify-content: space-between;
    width: 100%;
    max-width: 1380px;

}

.component-4 h1 {
    font-size: 72px;
    font-family: 'Inter-bold';
    color: rgba(33, 37, 41, 1);
    position: relative;

}

.component-4 p {
    font-size: 16px;
    font-family: 'Inter-regular';
    color: rgba(33, 37, 41, 1);
    margin-top: 24px;
    line-height: 30px;
}

.rect-4 {
    width: 679px;
    height: 498px;
    background-color: rgba(196, 222, 253, 1);
    margin-top: 140px;
}

.component-4 h1 img {
    position: absolute;
    right: 115px;
    top: 154px;
    z-index: -1;
    width: 487px;
}