.component-9 {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1380px;
}

.component-9 h1 {
    font-size: 72px;
    font-family: 'Inter-bold';
    color: rgba(33, 37, 41, 1);

}

.component-9 p {
    font-size: 16px;
    font-family: 'Inter-regular';
    color: rgba(33, 37, 41, 1);
    margin-top: 24px;
    line-height: 30px;
}


.component-9 h1 img {
    position: relative;
    right: -222px;
    top: -59px;
    z-index: -1;
    width: 329px;
}